// Place all the styles related to the footbolists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.header {
    font-family: 'Fix Sans';
    background-color: #3f0;
    min-height: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
}

.fon
{
  font-family: 'Fix Sans';
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow-y: hidden;
}

.comments
{
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  max-height: 400px;
}

.post_header
{
  margin-top: 100px;
}

.prozra
{
  background-color: transparent;
}

.parents_block
{
  background-color: #eee;
  color: #000;
}

.main_table
{
  border: 100px;
  padding: 10px;
  spacing: 10px;
}

.object-fit_contain {
  object-fit: cover;
}
.message,.title
{
  width: 100%;
}
/* resize images */
img.item_img {
  margin-left: auto;
  margin-right: auto;
  min-height: 500px;
  max-height: 500px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
